  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  </head>
  
  <style>
      
      body {
          
          background-image:url("https://www.mbaworld.com/-/media/Images/Events-images/2017/Webinars/Standing-Out-From-The-Crowd/Standing-out-from-the-crowd-page-image.ashx?la=en&hash=667B5E5E63C286FB8F366B61280AF6380C8F82E1");
          
      }
      
  </style>

<div class="topnav polaroid">
    
    <img src = "/images/fsn.png" style = "float:left; padding-top:5px; padding-left:20px">

</div>

<br><br><br><br><br><br><br><br>

<form action="/auth/login" method="post">
<center>
<div style = "border:0px solid #000; width:50%; background-color:#FFF; padding: 2%; padding-right:3%" class = "polaroid">

    <h1>Login to the Free Speech Network</h1>
    <br>
        <input style = "padding: 10px; width: 100%;font-size:20px" name = "username" placeholder = "Enter Your Username">
         <br> <br>
            <input style = "padding: 10px; width: 100%;font-size:20px" name = "password" type = "password" placeholder = "Enter Your Password">
            
            <br><br>
            
    <button style = "padding: 10px;width:45%;font-size:20px;" class="button">Login</button>
    
    <br><br>
    <font color = "red">{{info}}</font>

</div>

</center>
</form>