<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  </head>


<div class="topnav polaroid">
    
    <img src = "/images/fsn.png" style = "float:left; padding-top:5px; padding-left:20px">
  
  <div style = "padding: 14px 16px; float:right; color:#FFF; ">
      <button class="dropbtn zoom"><a href="/" style = "color:#FFF"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></button>
      &nbsp;
  <button class="dropbtn zoom"><a href="/profile" style = "color:#FFF"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></button>
  &nbsp;
  </div>
</div>

<p></p>
